<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
<h1>Create a New Account</h1>
<form th:action="@{/sign-up}" th:method="post" th:object="${user}">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" placeholder="Enter Username" th:field="*{username}">
  <label for="email">Email: </label>
  <input type="email" name="email" id="email" placeholder="example@gmail.com" th:field="*{email}">
  <label for="password">Password: </label>
  <input type="password" name="password" id="password" th:field-="*{password}">
  <button>Sign Up!</button>
</form>
</body>
</html>